*{
    padding: 0;
    margin: 0;
  
}
.contect{
    display: flex;
    flex-direction: column;
     align-items: center;
     background: rgb(7, 7, 7);
    align-items: center;
    justify-content: center;
}
#name{
    margin: 0;
    padding: 5%;
    font-size: 100%;
}
.contect p{
    color: white;
    font-family: sans-serif;
    font-size: 90%;
}
.contect p a{
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 90%;
}
.head{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}
.head img{
    width: 25%;
    margin-left: 3%;
}
.head a{
     padding: 1%;
     margin: 3%;
     text-decoration: none;
     font-family: sans-serif;
     border: 0.1% solid none;
     border-radius: 35px;
     color: rgb(67, 147, 179);
     font-size: large;
}
.head a:hover{
    background: rgb(60, 155, 211);
    color: white;
    transition: 0.5s;
}
main{
    background-image: url("main\ 1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80rem;
    background-attachment: fixed;
    margin:0;
}
footer{
    background-color: rgb(15, 14, 14);
    height: 100px;
}
#footer{
    display: flex;
    align-items: center;
    height:100px;
    justify-content: center;
}
#footer img{
    padding: 15px;
}
#footer a{
    text-decoration: none;
    font-family: sans-serif;
    color: white;
}
#slider{
    overflow: hidden;
}
#slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 15s slider infinite;

}
#slider figure img{
    float: left;
    width: 5.7%;
    margin-right: 7%;
    margin-left:7%;
    margin-top: 0.4%;
    border: 2px solid black;
    border-radius: 15%;
}
@keyframes slider{
    0%{
        left: 0;
    }
    20%{
        left: 0;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: -400%;
    }
}
#lang{
    background: rgba(1, 1,1, 0.7);
    color: white;
    margin-top: 5%;
    height: 10%;
    font-family: sans-serif;
}
#lang h1{
    padding: 3%;
    font-size: 100%;
}
#lang h3{
    padding-right: 3%;
    padding-left: 3%;
    font-size: 90%;
}
#book{
    background: rgba(81, 154, 202, 0.7);
    border-radius: 0;
    border: none;
    width: auto;
    font-size: 70%;
    margin: 3%;
}
#all{
    flex-direction: column;
}
#class{
    margin-bottom: 0;
    background: rgba(81, 154, 202, 0.7);
    border-radius: 0;
    border: none;
    width: auto;
    font-size: 70%;
    margin: 3%;
}
#grad{
    margin-bottom: 0;
    background: rgba(81, 154, 202, 0.7);
    border-radius: 0;
    border: none;
    width: auto;
    font-size: 70%;
    margin-bottom: 0;
    margin-top: 3%;
    margin-right: 3%;
    margin-left: 3%;
}
#footer{
    
    margin-top: 0;
    margin-bottom: 2%;
}
#footer img{
    width: 30px;
    padding: 1%;
}
#footer p a{
    font-size: 80%;
}